@font-face {
    font-family: "IBMPlexSansThai-Medium.woff2";
    src: url(bootstrap-5.2.3-dist/font/Font_Bassic/IBMPlexSansThai/WOFF2/IBMPlexSansThai-Medium.woff2);
}

body ,html {
    padding: 0;
    margin: 0;
    font-family: "IBMPlexSansThai-Medium.woff2";
    background-color: gray;
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid white;
}

/*          Box          */

.container {
    width: 95%;
    padding: 0;
}

.box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px white;
}

/*          Banner           */

#Banner {
    max-width: 100%;
    height: auto;
}

/*           menu             */

.top-menu {
    padding: 5px;
    color: black;
    background-color: rgb(229, 140, 252);
    width: 95%;
    margin: auto;
    display: block;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

.text-menu {
    text-decoration: none;
    color: black;
}

.img-menu {
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
}

.a-img {
    width: 100%;
}

.btn-outline-info {
    color: rgb(229, 140, 252);
    border: 1px solid rgb(229, 140, 252);
    width: 100%;
}

.btn-outline-info:hover {
    background-color: rgb(229, 140, 252);
    border: 1px solid rgb(229, 140, 252);
}

/*          Body             */

.img-body {
    width: 100%;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
    margin: auto;
    display: block;
}

.top-text {
    background: -webkit-linear-gradient(rgb(216, 79, 250), rgb(229, 140, 252));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/*          Video            */

.video {
    width: 100%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 8px black;
    transition: box-shadow 0.5s;
}

/*          BF          */

#BF {
    background-color: rgb(71, 71, 71);
    position: relative;
}

.a-li {
    color: white;
    text-shadow: 2px 2px 8px black;
    text-decoration: none;
}

li {
    list-style: none;
}

.BT {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*          Footer           */

footer {
    background-color: rgb(229, 140, 252);
    padding: 10px;
}

.text-footer {
    color: white;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

/*             scrollbar              */

::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(229, 140, 252);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(216, 79, 250);
}

/*          Hover            */

img:hover {
    transform: scale(1.03,1.03);
    box-shadow: 0px 0px 20px rgb(216, 79, 250);
}

img {
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0px 5px 8px gray;
}


.card {
    transition: box-shadow 0.5s;
}

.top-menu:hover {
    box-shadow: 0px 0px 15px rgb(216, 79, 250);
}

.video:hover {
    box-shadow: 0px 0px 15px rgb(216, 79, 250);
}